* {box-sizing:border-box;}
body {background-color:#D1C4E9}

.mainselect {
    background-color:#FAFAFA;
    height:200px;
    color:#757575;
    text-align:center;
    border:1px solid #673AB7;
}

.mainselect:hover {
    background-color: #673AB7;
    color: #FAFAFA;
}

.jumbotron {
    background-color:#673AB7;
    color:#FFFFFF;
}

#maseratimodels {
    margin-bottom:40px;
}

.col-sm-1 {
    width:auto;
    outline:1px solid #7a40e6;
    margin: 3px;
    color:#7a40e6;
    background-color:#FFFFFF;
}

.col-sm-1:hover{
    background-color:#757575;
    color:#FFFFFF;
}

.col-sm-1:hover a {
    background-color:#757575;
    color:#FFFFFF;
}

.col-sm-1 a:hover {
    color:#FFFFFF;
}

.select-maker {
    margin-left:10px;
    margin-right:10px;
}

.dropdown-inline {
    display:inline;
    padding-left:10px;
}

.form-inline {
    margin-top:50px;
    margin: 30px;
    margin-bottom:50px;
}

.btn {
    background-color: #673AB7;
    color: #FAFAFA;
    border-radius:3px;   
}

#quality-activity {
    margin-bottom:500px;
}

#separator1, #separator2 {
    font-size: x-large;
    padding-left:10px;
}

.submit-btn {
    margin-left:30px;
    padding-left:10px;
    width:auto;
}

.form-group {
    margin-left:30px;
}

.extra-info {
    background-color:white;        /*#efecec;*/
    border-radius:3px;
    padding:8px;
    position:absolute;
    bottom:5px;
}

.results-items {
    height:40%;
    background-size:contain;
}

.results-items p {
    display:inline;
}

.extra-info p {
    margin:0px;
    display:grid;
}

i {
    font-size:50px;
    vertical-align:middle;
    padding:10px;
}

img {
    height:63px;
    width:auto;
}

.styletitle {
    background:white;
    color:royalblue;
    border-radius:3px;
    padding:3px;
}